html,body,div,p,span,canvas{
	margin:0;
	padding:0;
}

body {
	background-repeat:no-repeat;
	font-family:"Comic Sans MS";
	font-size:14px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none; 
	overflow:hidden;
}

#container {
    border-radius: 8px;
    width: 800px;
    height: 410px;
    margin: 0 0;
    overflow: hidden;
    -webkit-transform: scale(1);
    -webkit-transform-origin: left top;
    -moz-transform: scale(1);
    -moz-transform-origin: left top;
    -ms-transform: scale(1);
    -ms-transform-origin: left top;
    -o-transform: scale(1);
    -o-transform-origin: left top;
    transform: scale(1);
    transform-origin: left top;
}

#replayButton {
	position: absolute;
	left: 600px;
	bottom: 40px;
	display: none;
	cursor: pointer;
}

#content {
    display: none;
    position: absolute;
    top: 0px;
}

* {
    user-select: none;
}

#slider1 {
    position: absolute;
    width: 200px;
    top: 10px;
    left: 10px;
    background: grey;
    border-radius: 5px;
    box-shadow: 1px 0px 4px 6px #E4E4FE;
}

#amount {
    position: absolute;
    width: 200px;
    top: 30px;
    left: 10px;
}

#grph1 {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
}

.ui-slider{
	position: absolute;
	z-index: 2;
	height: 10px;
	width: 200px;
	border: none;
	cursor: pointer;
	outline: none;
}

.ui-slider-handle {
	width:24px;
	height:24px;
	position:absolute;
	top:-7px;
	margin-left:-12px;
	z-index:200;
	background-color:black;
	background:url('../assets/slider-button.png');
	cursor:pointer;
}

#scl1 {
    position: relative;
    display: none;
    cursor: pointer;
    z-index: 5;
    top: 300px;
    left: 300px;
}

#ruler1 {
    position: absolute;
    top: 366px;
    cursor: pointer;
    left: 650px;
    width: 65px;
    text-align: center;
    height: 20px;
    margin-top: 5px;
    background-color: rgba(104,104,255,0.3);
    border: 1px solid blue;
    border-radius: 5px;
}

#scaleFctr {
    position: absolute;
    top: 60px;
    left: 54px;
    width: 115px;
}

#txt {
    position: absolute;
    top: 10px;
    left: 510px;
    width: 270px;
    text-align: center;
    background:white;
    z-index: 0;
    border: 2px solid;
    border-radius: 5px;
    display: none;
}

#cnvs {
    position: absolute;
    top: 0px;
    left: 0px;
}